.box {
    z-index: 1;
    padding-top: 1px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 15px !important;
    clear: both;
    background-color: #FFF;
}

.index:hover{
   background-color:#AAA;
}

.iruzkina {
    padding-top: 0px;
}

.bidaliBtn {
    width: auto;
}

.userBtnDiv {
    text-align: center; 
    float: right;
}

.userBtn {
    width: auto; 
}